roles/nvim/files/nvim/.git_token
roles/nvim/files/nvim/history_yank
roles/nvim/files/nvim/session/
roles/nvim/files/nvim/plugin/
roles/moc/files/moc/equalizer
roles/moc/files/moc/last_directory
roles/moc/files/moc/softmixer
roles/moc/files/moc/pid
roles/moc/files/moc/playlist.m3u
roles/xmonad/files/xmonad/prompt-history
roles/xmonad/files/xmonad/xmonad-x86_64-linux
roles/xmonad/files/xmonad/xmonad.errors
roles/xmonad/files/xmonad/xmonad.hi
roles/xmonad/files/xmonad/xmonad.o

roles/nvim/files/nvim/nvim_sessions
roles/nvim/files/nvim/databases