vim/.netrwhist
vim/bundle/auto-pairs/
vim/bundle/c-syntax.vim/
vim/bundle/colorizer/
vim/bundle/conoline.vim/
vim/bundle/dart-vim-plugin/
vim/bundle/gnuplot-syntax-highlighting/
vim/bundle/gruvbox/
vim/bundle/tabular/
vim/bundle/vim-airline-themes/
vim/bundle/vim-airline/
vim/bundle/vim-easymotion/
vim/bundle/vim-endwise/
vim/bundle/vim-latex-live-preview/
vim/bundle/vim-markdown/
vim/bundle/vimtex/
