nvim/.git_token
nvim/dein/
nvim/history_yank
nvim/session/
config/obs-studio/
config/Android\ Open\ Source\ Project/
config/QtProject.conf
config/dconf/
config/enchant/
config/gtk-2.0/
config/menus/
config/mimeapps.list
config/obs-studio/
config/pavucontrol.ini
config/pulse/
config/vlc/vlc-qt-interface.conf
config/Microsoft/
config/Trolltech.conf
config/Unity Hub/
config/UnityHub/
config/autostart/
config/blender/
config/picom.conf
config/teams/
config/unity3d/
config/vlc/
config/zoomus.conf
config/GIMP/
config/Unknown Organization/
config/google-chrome/
config/kdenlive-layoutsrc
config/youtube-viewer/
moc/equalizer
moc/last_directory
moc/softmixer
xmonad/prompt-history
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
